* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: grey;
}

.row {
  /* padding: 2px; */
  margin: 2px;
}

.checked {
  color: orange;
}

.col-md-4 h5 {
  text-decoration-color: blue;
}